.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn-regular{
    border-radius: 3px;
    background-color: #557dd3;
    color: #fff;
}

.text{
    text-align: left;
}

/* total container */

@media only screen and (min-width: 360px) and (max-width: 991px){
    .container{
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
    }
}

